/* Dropdown */
.menuclient1 {
    width: 40%;
    background-color: white;
    color: darkblue;
    text-align: center;
    border-style: ridge;
    border-radius: 7px;
    margin-bottom: 5%;
}

/* Dropdown Menu */
.menuclient2 {
    width: 50% !important;
    margin-left: -16px;
}