      /* dropdowm menu */
      .menu {
          text-align: left;
          width: 100%;
          border-style: ridge;
          border-radius: 7px;
          margin-bottom: 5%;
      }

      .menu1 {
          color: darkblue;
          font-weight: 500;
      }

      /* dropdowm menu options */
      .menu2 {
          width: 100%;
          text-align: left;
      }