.App {
  text-align: center;
}

/* title */
.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: darkblue;
  margin-top: 5%;
}

.title {
  font-weight: bold;
  text-decoration: underline;
}