.App {
  text-align: center;
  color: darkblue;
  /* font-weight: 500; */
}

/* header */
.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: darkblue;
  margin-top: 5%;
  margin-bottom: 5%;
  font-weight: bold;
}

/* title text */
.title {
  border-bottom: 1px solid #bbb;
  /* width: 20%; */

}

/* dropdown arrow */
.dropdown-toggle::after {
  margin-left: 350px !important;
}

/* columns */
.col {
  margin: 10px;
}

/* toggle switch color */
.form-switch .form-check-input:checked {
  background-color: darkblue;
}